In [7]:
import pandas as pd
import numpy as np

In [8]:
df=pd.read_csv('bus_ridership_logs.csv')
df

          route        date  hour  boardings
0       Route_1  2023-05-01     7       43.0
1       Route_1  2023-05-01     9       46.0
2       Route_1  2023-05-01    12        NaN
3       Route_1  2023-05-01    17       41.0
4       Route_1  2023-05-01    19       50.0
...         ...         ...   ...        ...
10795  Route_15  2023-08-28     9       40.0
10796  Route_15  2023-08-28    12        NaN
10797  Route_15  2023-08-28    17       45.0
10798  Route_15  2023-08-28    19       42.0
10799  Route_15  2023-08-28    22       20.0

[10800 rows x 4 columns]

In [9]:
df.isnull().sum()

route          0
date           0
hour           0
boardings    854
dtype: int64

In [19]:
df['boardings'].fillna(df['boardings'].median(),inplace=True)

In [20]:
df

          route        date  hour  boardings
0       Route_1  2023-05-01     7       43.0
1       Route_1  2023-05-01     9       46.0
2       Route_1  2023-05-01    12       40.0
3       Route_1  2023-05-01    17       41.0
4       Route_1  2023-05-01    19       50.0
...         ...         ...   ...        ...
10795  Route_15  2023-08-28     9       40.0
10796  Route_15  2023-08-28    12       40.0
10797  Route_15  2023-08-28    17       45.0
10798  Route_15  2023-08-28    19       42.0
10799  Route_15  2023-08-28    22       20.0

[10800 rows x 4 columns]

In [14]:
df.isnull().sum()

route        0
date         0
hour         0
boardings    0
dtype: int64