In [38]:
import pandas as pd
import numpy as np

In [39]:
df=pd.read_csv('library_borrowing.csv')

In [40]:
df

     member_id book_id    author      genre borrow_date return_date
0        M0453   B1435  Author_E    History  2023-05-07  2023-06-06
1        M0396   B1256  Author_D  Biography  2023-11-16  2023-12-03
2        M0005   B1866  Author_C    Fiction  2023-09-25  2023-10-24
3        M0334   B1962  Author_C  Biography  2023-06-14  2023-07-01
4        M0049   B1891  Author_B   Children  2023-11-03  2023-11-13
...        ...     ...       ...        ...         ...         ...
3995     M0463   B1240  Author_D    History  2023-04-29  2023-05-12
3996     M0141   B1481  Author_B  Biography  2023-04-09  2023-05-07
3997     M0485   B1137  Author_E    History  2023-07-09  2023-07-27
3998     M0454   B1895  Author_E     Sci-Fi  2023-05-21  2023-06-01
3999     M0407   B1648  Author_A    History  2023-02-15  2023-03-11

[4000 rows x 6 columns]

In [41]:
df.isnull().sum()

member_id        0
book_id          0
author           0
genre          316
borrow_date      0
return_date    405
dtype: int64

In [42]:
df_cleaned=df.dropna(subset=['genre'])

In [43]:
df_cleaned

     member_id book_id    author      genre borrow_date return_date
0        M0453   B1435  Author_E    History  2023-05-07  2023-06-06
1        M0396   B1256  Author_D  Biography  2023-11-16  2023-12-03
2        M0005   B1866  Author_C    Fiction  2023-09-25  2023-10-24
3        M0334   B1962  Author_C  Biography  2023-06-14  2023-07-01
4        M0049   B1891  Author_B   Children  2023-11-03  2023-11-13
...        ...     ...       ...        ...         ...         ...
3995     M0463   B1240  Author_D    History  2023-04-29  2023-05-12
3996     M0141   B1481  Author_B  Biography  2023-04-09  2023-05-07
3997     M0485   B1137  Author_E    History  2023-07-09  2023-07-27
3998     M0454   B1895  Author_E     Sci-Fi  2023-05-21  2023-06-01
3999     M0407   B1648  Author_A    History  2023-02-15  2023-03-11

[3684 rows x 6 columns]

In [44]:
df_cleaned.isnull().sum()

member_id        0
book_id          0
author           0
genre            0
borrow_date      0
return_date    369
dtype: int64

In [45]:
df_cleaned['return_date'].fillna(df_cleaned['return_date'].mode()[0],inplace=True)

C:\Users\dokur\AppData\Local\Temp\ipykernel_10928\3891363179.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['return_date'].fillna(df_cleaned['return_date'].mode()[0],inplace=True)

In [46]:
df_cleaned.isnull().sum()

member_id      0
book_id        0
author         0
genre          0
borrow_date    0
return_date    0
dtype: int64